:root{
    --darkmode: #162936;
    --darkred: #DC2011;
    --grey: #051824;
}
*{
    margin: 0;
    /* background-color: var(--darkmode); */
    /* color: white; */
    color: var(--darkmode);
    margin-inline: auto;
}
.navigation{
    min-height: 2.75rem;
    max-width: 100vw;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: var(--grey);
    position: sticky;
    top: 2vh;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}
.wrapper{
    min-height: 200rem;
    border: red solid 1px;
}
